################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AspCoreCheckin/v16/TestStore/0
/StudentsInfromation/.vs/Asp.netCoreMvcCrud/xs
/StudentsInfromation/.vs/Asp.netCoreMvcCrud/v16
/StudentsInfromation/.vs/Asp.netCoreMvcCrud/config
/StudentsInfromation/bin/Debug
/StudentsInfromation/.vscode
/StudentsInfromation/publish
